# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

server-id=1
log-bin=mysql-bin
innodb_flush_log_at_trx_commit=1
sync_binlog=1

#bind-address or skip-networking
#CREATE USER 'repl'@'%.mydomain.com' IDENTIFIED BY 'slavepass';
#GRANT REPLICATION SLAVE ON *.* TO 'repl'@'%.mydomain.com';

#If the master has been running previously without binary logging enabled, the log file name and position values displayed by SHOW MASTER STATUS or mysqldump --master-data are empty. In that case, the values that you need to use later when specifying the slave's log file and position are the empty string ('') and 4.

#FLUSH TABLES WITH READ LOCK; client must keep open.
#SHOW MASTER STATUS; mysql -uroot -pxxx -e 'SHOW MASTER STATUS', then stop mysql.
#


#open a new session, exec SHOW MASTER STATUS

#mysqldump --all-databases --master-data > dbdump.db

# --- on slave--

#mysql> CHANGE MASTER TO
#    ->     MASTER_HOST='master_host_name',
#    ->     MASTER_USER='replication_user_name',
#    ->     MASTER_PASSWORD='replication_password',
#    ->     MASTER_LOG_FILE='recorded_log_file_name',
#    ->     MASTER_LOG_POS=recorded_log_position;

Start the slave, using the --skip-slave-start option so that replication does not start.
